@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: robotSlab;
  src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
  font-family: roboto;
}

a {
  text-decoration: none;
}

.section-head h2 {
  font-size: 55px;
  font-family: robotSlab;
  font-weight: 700;
}

@media (min-width: 270px) and (max-width: 576px) {
  .section-head h2 {
    font-size: 26px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .section-head h2 {
    font-size: 32px;
  }
}

#header {
  padding-top: 20px;
}

#header .all-header img {
  width: 112px;
  height: 66px;
}

#nav {
  padding-top: 100px;
}

#nav .all-nav ul li {
  margin: 0%;
  margin-right: 32px;
  font-size: 20px;
  font-weight: 400;
}

#nav .all-nav ul li img {
  width: 22px;
  height: 21px;
  margin-right: 8px;
}

#watch .all-watch .left-watch h1 {
  font-weight: 700;
  font-size: 80px;
  font-family: robotSlab;
}

#watch .all-watch .left-watch p {
  font-size: 20px;
  font-weight: 400;
}

#watch .all-watch .right-watch {
  width: 304px;
  height: 356px;
}

#watch .all-watch .right-watch img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#box-place {
  padding-top: 87px;
}

#box-place .all-box-place {
  background: #1E4681;
  width: 460.63px;
  height: 190px;
  padding: 20px;
  margin: 0 auto;
}

#box-place .all-box-place h6 {
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  font-family: robotSlab;
}

#box-place .all-box-place span {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

#course {
  padding-top: 173.38px;
}

#course .all-course .course-main {
  margin-top: 40px;
}

#course .all-course .course-main .course-content p {
  font-size: 24px;
  font-weight: 400;
}

#course .all-course .course-main .course-content p:first-child {
  margin-bottom: 50px;
}

#course .all-course .course-main .course-img {
  width: 314px;
  height: 315px;
}

#course .all-course .course-main .course-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#time {
  padding-top: 95px;
}

#time .all-time .time-box h6 {
  font-size: 25px;
  font-weight: 700;
}

#time .all-time .time-box p {
  font-size: 18px;
  width: 150px;
}

#time .all-time .time-box img {
  width: 232px;
  height: 203px;
}


@media (min-width: 270px) and (max-width: 576px) {
  #header .all-header img {
    width: 52.19px;
    height: 30.75px;
  }

  #nav {
    padding-top: 45px;
  }

  #nav .all-nav ul li {
    font-size: 10px;
  }

  #nav .all-nav ul li img {
    width: 10.25px;
    height: 9.79px;
  }

  #watch .all-watch .left-watch h1 {
    font-size: 37px;
  }

  #watch .all-watch .left-watch p {
    font-size: 10px;
    width: 60%;
  }

  #watch .all-watch .right-watch {
    width: 141.66px;
    height: 165.89px;
    margin-left: 50%;
  }

  #box-place {
    padding-top: 45px;
  }

  #box-place .all-box-place {
    width: 225.36px;
    height: 110px;
  }

  #box-place .all-box-place h6 {
    font-size: 11px;
  }

  #box-place .all-box-place span {
    font-size: 10px;
  }

  #course {
    padding-top: 75px;
  }

  #course .all-course .course-main .course-content p {
    font-size: 12px;
  }

  #course .all-course .course-main .course-content p:first-child {
    margin-bottom: 15px;
  }

  #course .all-course .course-main .course-img {
    width: 146.32px;
    height: 146.78px;
    margin: auto;
  }

  #time .all-time .time-box h6 {
    font-size: 12px;
  }

  #time .all-time .time-box p {
    font-size: 10px;
  }

  #time .all-time .time-box img {
    display: none;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  #header .all-header img {
    width: 64.87px;
    height: 38.23px;
  }

  #nav {
    padding-top: 57px;
  }

  #nav .all-nav ul li {
    font-size: 12px;
  }

  #nav .all-nav ul li img {
    width: 12.74px;
    height: 12.16px;
  }

  #watch .all-watch .left-watch h1 {
    font-size: 46px;
  }

  #watch .all-watch .left-watch p {
    font-size: 12px;
    width: 80%;
  }

  #watch .all-watch .right-watch {
    width: 176.07px;
    height: 206.18px;
  }

  #box-place {
    padding-top: 55px;
  }

  #box-place .all-box-place {
    width: 280.11px;
    height: 130px;
  }

  #box-place .all-box-place h6 {
    font-size: 14px;
  }

  #box-place .all-box-place span {
    font-size: 12px;
  }

  #course {
    padding-top: 100px;
  }

  #course .all-course .course-main .course-content p {
    font-size: 14px;
  }

  #course .all-course .course-main .course-content p:first-child {
    margin-bottom: 15px;
  }

  #course .all-course .course-main .course-img {
    width: 181.86px;
    height: 182.44px;
    margin: auto;
  }

  #time .all-time .time-box h6 {
    font-size: 12px;
  }

  #time .all-time .time-box p {
    font-size: 10px;
  }

  #time .all-time .time-box img {
    width: 95.37px;
    height: 95.57px;
    margin-right: 75px;
  }

}


@media (min-width:834px) {
  .section7 .container {
    background-color: #9dc9c8;
    padding: 0px;
    margin: 0px;
  }

  .section7 .allsec7 {
    margin-left: 122px;
  }

  .section7 .allsec7 h1 {
    padding-top: 179px;
    font-size: 45px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    width: 100%;
  }

  .section7 #stoimost {
    font-size: 25px;
    margin-top: 54px;
  }

  .section7 #price {
    margin-top: 0px;
    font-size: 80px;
  }

  .section7 .alltext {
    margin-top: 155px;
    display: flex;
    width: 60%;
    padding-bottom: 200px;
  }

  .section7 .alltext .leftside,
  .rightside .topleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }

  .section7 .alltext .leftside .bottomleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 75%;
  }

  .section7 .alltext .rightside .bottomleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 75%;
  }

  .section8 .container {
    background-color: black;
  }

  .allsec8 {
    margin-left: 122px;
  }

  .allsec8 .leftside .first img {
    width: 115px;
    height: 65px;
    margin-top: 50px;
  }

  .allsec8 .leftside .second {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .third {
    margin-top: 190px;
    padding-bottom: 90px;
    color: white;
  }

  .allsec8 .rightside {
    color: white;
    width: 90%;
  }


  .allsec8 .rightside .firstline,
  .secondline {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: -80px;
  }

  .allsec8 .rightside img {
    width: 25px;
    height: 20px;
  }

}


@media (min-width:476px) and (max-width:834px) {
  .section7 .container {
    background-color: #9dc9c8;
    padding: 0px;
    margin: 0px;
  }

  .section7 .allsec7 {
    margin-left: 70.66px;
  }

  .section7 .allsec7 h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    padding-top: 103px;
  }

  .section7 #stoimost {
    font-size: 14px;
    margin-top: 31.28px;
  }

  .section7 #price {
    margin-top: 0px;
    font-size: 46px;
  }

  .section7 .alltext {
    margin-top: 89.27px;
    display: flex;
    width: 60%;
    padding-bottom: 110px;
  }

  .section7 .alltext .leftside,
  .rightside .topleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .section7 .alltext .leftside .bottomleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    width: 75%;
  }

  .section7 .alltext .rightside .bottomleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    width: 75%;
  }




  .section8 .container {
    background-color: black;
  }

  .allsec8 {
    margin-left: 70px;
  }

  .allsec8 .leftside .first img {
    width: 67px;
    height: 40px;
    margin-top: 29px;
  }

  .allsec8 .leftside .second {
    width: 35%;
    justify-content: space-between;
    margin-top: 28px;
  }

  .allsec8 .leftside .second img {
    width: 25px;
  }

  .third {
    margin-top: 100px;
    padding-bottom: 15px;
    color: white;
  }

  .allsec8 .rightside {
    color: white;
    width: 90%;
  }


  .allsec8 .rightside .firstline,
  .secondline {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: -70px;
  }

  .allsec8 .rightside img {
    width: 25px;
    height: 20px;
  }
}


@media (max-width:476px) {
  .section7 .container {
    background-color: #9dc9c8;
    padding: 0px;
    margin: 0px;
  }

  .section7 .allsec7 {
    margin-left: 35px;
  }

  .section7 .allsec7 h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    width: 100%;
    padding-top: 62px;
  }

  .section7 #stoimost {
    font-size: 12px;
    margin-top: 25px;
  }

  .section7 #price {
    margin-top: 0px;
    font-size: 37px;
  }

  .section7 .alltext {
    margin-top: 72px;
    display: flex;
    width: 60%;
    padding-bottom: 110px;
  }

  .section7 .alltext .leftside,
  .rightside .topleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  .section7 .alltext .leftside .bottomleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    width: 80%;
  }

  .section7 .alltext .rightside .bottomleft p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    width: 80%;
  }

  .section8 .container {
    background-color: black;
  }

  .allsec8 {
    margin-left: 38px;
  }

  .allsec8 .leftside .first img {
    width: 54px;
    height: 32px;
    margin-top: 23px;
  }

  .allsec8 .leftside .second {
    width: 35%;
    justify-content: space-between;
    margin-top: 14px;
  }

  .allsec8 .leftside .second img {
    width: 15px;
  }

  .third {
    margin-top: 100px;
    padding-bottom: 15px;
    color: white;
  }

  .allsec8 .rightside {
    color: white;
    width: 90%;
  }

  .allsec8 .rightside .firstline,
  .secondline {
    display: flex;
    width: 100%;
  }

  .allsec8 .rightside .secondline p {
    font-size: 14px;
    margin-left: 10px;
  }

  .allsec8 .rightside .firstline p {
    font-size: 12px;
    margin-left: 10px;
  }

  .allsec8 .rightside .firstline {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }

  .allsec8 .rightside img {
    width: 14px;
    height: 14px;
  }
}

.orxan-wrapper h2 {
  font-size: 55px;
  font-family: 'Roboto Slab', serif;
  margin-top: 100px;
  margin-left: 120px;
}

.orxan-wrapper ul {
  font-size: 24px;
  font-family: 'Roboto', serif;
  line-height: 36px;
  margin-left: 120px;
}

@media screen and (max-width:834px) {
  .orxan-wrapper h2 {
    font-size: 32px;
  }

  .orxan-wrapper ul {
    font-size: 14px;
    line-height: 21px;
  }

}

@media screen and (max-width:375px) {

  .orxan-wrapper h2 {
    font-size: 26px;
    margin-left: 0;
    margin-left: 30px;
  }

  .orxan-wrapper ul {
    font-size: 12px;
    line-height: 18px;
    width: 300px;
    margin-left: 0;
  }



}




.orxan {
  width: 100%;
}

.orxan h1 {
  font-size: 55px;
  font-family: 'Roboto Slab', serif;
  margin-left: calc(100%/12);
}

.orxan ul {
  display: flex;
  margin-left: calc(100%/12);
  flex-direction: row;
  font-family: 'Roboto', serif;
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.orxan ul li h5 {
  font-size: 25px;
  color: #1E4681;
  margin: 0%;
}

.orxan ul li p {
  font-size: 18px;
}

.orxan ul li {
  margin-right: calc(100%/12);
  padding: 0%;
}

@media screen and (max-width:834px) {
  .orxan h1 {
    font-size: 32px;
  }

  .orxan ul li h5 {
    font-size: 15px;
  }

  .orxan ul li p {
    font-size: 11px;
  }

}

@media screen and (max-width:375px) {
  .orxan h1 {
    font-size: 26px;
  }

  .orxan ul {
    flex-direction: column;
  }

  .orxan ul li h5 {
    font-size: 12px;
  }

  .orxan ul li p {
    font-size: 10px;
  }

  .orxan ul li {
    margin-right: 0%;
  }
}